body {
}

input {
  margin: 5px 0 5px 0;
}

#header {
  margin: 0 auto;
  text-align: center;
}

#canvas-container {
  width: 860px;
  height: 500px;
  overflow-x: scroll;
  overflow-y: scroll;
  float: left;
  margin: 5px 10px 5px 10px;
}

#canvas {
  border: 1px solid #999;
}

#cont-container {
  width: 400px;
  margin: 5px 10px 5px 10px;
  background-color: #eeeeee;
  padding: 10px;
  float: left;
}

#cont-container #header {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#pen-mode {
  margin-top: 20px;
}

#pen-modes {
  margin-top: 10px;
}

#pen-modes input {
  margin-left: 10px;
}

#pen-modes label {
  margin-right: 5px;
  font-size: 15px;
  margin-left: 2px;
}

#output-container {
  width: 400px;
  margin: 5px 10px 5px 10px;
  background-color: #eeeeee;
  padding: 10px;
  float: left;
}

#output-container #header {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#output {
  background: #fff;
  width: 387px;
  height: 250px;
  border: 1px solid #CCC;
  margin: 0;
  padding: 5px;
  float: left;
  resize: none;
  font: normal 1em/1 monospace;
}

#forkongithub a { background:#000; color:#fff; text-decoration:none; font-family:arial,sans-serif; text-align:center; font-weight:bold; padding:5px 20px; font-size:0.9rem; line-height:1.6rem; position:relative; transition:0.5s; }

#forkongithub a::before, #forkongithub a::after { content:""; width:100%; display:block; position:absolute; top:1px; left:0; height:1px; background:#fff; }

#forkongithub a::after { bottom:1px; top:auto; }

@media screen and (min-width:950px) {
  #forkongithub {
    position:fixed; display:block; top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:40px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}

