body {
}

input {
  margin: 5px 0 5px 0;
}

#header {
  margin: 0 auto;
  text-align: center;
}

#canvas-container {
  width: 860px;
  height: 500px;
  overflow-x: scroll;
  overflow-y: scroll;
  float: left;
  margin: 5px 10px 5px 10px;
}

#canvas {
  border: 1px solid #999;
}

#cont-container {
  width: 400px;
  margin: 5px 10px 5px 10px;
  background-color: #eeeeee;
  padding: 10px;
  float: left;
}

#cont-header {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#pen-mode {
  margin-top: 20px;
}

#pen-modes {
  margin-top: 10px;
}

#pen-modes input {
  margin-left: 10px;
}

#pen-modes label {
  margin-right: 5px;
  font-size: 15px;
  margin-left: 2px;
}
